
<div class="container top">

      <div class="row">
        <div class="col-md-6">
          <div class="videob"><img src="media/phonedemo.jpg"></div>
        </div>
        <div class="col-md-6">
          <h1>Focus on Now.</h1>
          <ul class="list-unstyled">
          <li class="benefit-item"><h5><span class="glyphicon glyphicon-repeat"></span> Snooze Items.  Set it and forget it until you need it.</h4></li>
          <li class="benefit-item"><h5><span class="glyphicon glyphicon-ok"></span> Simple design.  Straight to the point todo list.</h4></li>
          <li class="benefit-item"><h5><span class="glyphicon glyphicon-refresh"></span> Access anywhere.  Mobile design + Webapp ensure access anywhere.</h5></li>
        </ul>
       </div>
      </div>

</div>